.color-white {
  color: white;
}

.color-black {
  color: black;
}

.color-blue {
  color: #0066ff;
}

.color-orange {
  color: #ff6900;
}

.bold {
  font-weight: bold;
}

.font48 {
  font-size: 48px;
}

.font36 {
  font-size: 36px;
}

.font24 {
  font-size: 24px;
}

.font18 {
  font-size: 18px;
}

.font14 {
  font-size: 14px;
}

.font12 {
  font-size: 12px;
}

.line_height12 {
  line-height: 12px;
}

.preserve-line-breaks {
  white-space: pre-line;
}
