.padding-default {
  @media (min-width: 1025px) {
    padding: 0 20%;
  }
  @media (max-width: 1024px) {
    padding: 10px;
  }
}

.padding-item-default {
  @media (min-width: 1025px) {
    padding: 100px 20%;
  }
  @media (max-width: 1024px) {
    padding: 100px 10px;
  }
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.text-align_center {
  text-align: center;
}

.text-align_right {
  text-align: right;
}

.padding_all_10 {
  padding: 10px;
}

.padding_all_5 {
  padding: 5px;
}

.padding_20_10 {
  padding: 20px 10px;
}

.padding_10_10_0_10 {
  padding: 10px 10px 0 10px;
}

.padding_20_0 {
  padding: 20px 0;
}

.padding_top_100 {
  padding-top: 100px;
}

.padding_top_50 {
  padding-top: 50px;
}

.padding_top_20 {
  padding-top: 20px;
}

.padding_top_10 {
  padding-top: 10px;
}

.padding_bottom_50 {
  padding-bottom: 50px;
}

.padding_bottom_20 {
  padding-bottom: 20px;
}

.padding_bottom_10 {
  padding-bottom: 10px;
}

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-button {
  background: transparent;
  border: 0;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

.flex-right {
  display: flex;
  align-items: center;
}

.align-items_center {
  align-items: center;
}

.header-background {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

.side-menu_background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden;
}

.side-menu {
  position: relative;
  width: 250px;
  height: 100%;
  background: white;
  float: right;
  top: -1px;
  padding: 20px 0;
  overflow: auto;
  text-align: center;

  animation-name: side-animation;
  -webkit-animation-name: side-animation;
  animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes side-animation {
  from {
    position: relative;
    right: -300px;
  }

  to {
    right: 0;
  }
}

.side-menu-logo {
  width: 100%;
  padding: 0 50px;
}

.side-menu-button {
  background: #3294ff;
  color: white;
  padding: 10px 40px;
  margin: 10px 0;
  font-size: 18px;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 30px;
  border: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(168, 168, 168, 1);
  -moz-box-shadow: 0 0 15px 0 rgba(168, 168, 168, 1);
  box-shadow: 0 0 15px 0 rgba(168, 168, 168, 1);
}

.side-menu-item {
  border-top: 1px solid #ddd;
  padding: 20px;
  text-align: left;

  a {
    font-size: 18px;
    display: block;
    color: black;
    text-decoration: none;
    padding-bottom: 15px;
  }
}

.side-menu-info {
  padding: 20px 0;
  background: #eee;
  margin-top: 10px;
  text-align: center;
}

.popup_background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.hero {
  position: relative;
  margin-top: -60px;
  left: 0;
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/main/hc.jpg");
  background-size: cover;
  background-position: bottom;
}

.hero_button {
  background: #3294ff;
  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 15px 0 rgba(235, 235, 235, 1);
  -moz-box-shadow: 0 0 15px 0 rgba(235, 235, 235, 1);
  box-shadow: 0 0 15px 0 rgba(235, 235, 235, 1);
}

.statistics {
  width: 100%;
  max-width: 500px;

  .statistics_item {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    justify-content: space-between;
  }

  .statistics_text {
    width: 180px;
    text-align: left;
  }
}

.cleaning-information {
  line-height: 30px;

  span {
    font-weight: bold;
  }
}
